/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  webkit-box-shadow: 0 1px 6px rgba(34, 25, 25, 0.6);
  moz-box-shadow: 0 1px 6px rgba(34, 25, 25, 0.6);
  box-shadow: 0 1px 6px rgba(34, 25, 25, 0.6);
  background: #142261;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  color: #FFF;
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  

  &,
  &:visited {
    color: $grey-color-dark;
  }
  color: #FFF;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;


  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: #FFF;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid $grey-color-light;
  padding: 10px;
  background: #142261;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: 1px;
  color: #FFF;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.word{
  width: 200px;
  border: 1px solid black;
  padding: 10px;
}
.AWAD_title
{font-size: 10pt; color: silver; font-weight: bold;}
.AWAD_wordlink
{text-decoration: none; color: green;}
.AWAD_wordlink:hover
{text-decoration: underline;}
.AWAD_byline
{font-style: italic;}

.cr-container{
  width: 600px;
  height: 400px;
  position: relative;
  margin: 0 auto;
  border: 20px solid #fff;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
.cr-container label{
  font-style: italic;
  width: 150px;
  height: 30px;
  cursor: pointer;
  color: #fff;
  line-height: 32px;
  font-size: 24px;
  float:left;
  position: relative;
  margin-top:350px;
  z-index: 1000;
}
.cr-container label:before{
  content:'';
  width: 34px;
  height: 34px;
  background: rgba(130,195,217,0.9);
  position: absolute;
  left: 50%;
  margin-left: -17px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.3);
  z-index:-1;
}
.cr-container label:after{
  width: 1px;
  height: 400px;
  content: '';
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  position: absolute;
  bottom: -20px;
  right: 0px;
}
.cr-container label.cr-label-img-4:after{
  width: 0px;
}
.cr-container input.cr-selector-img-1:checked ~ label.cr-label-img-1,
.cr-container input.cr-selector-img-2:checked ~ label.cr-label-img-2,
.cr-container input.cr-selector-img-3:checked ~ label.cr-label-img-3,
.cr-container input.cr-selector-img-4:checked ~ label.cr-label-img-4{
  color: #68abc2;
}
.cr-container input.cr-selector-img-1:checked ~ label.cr-label-img-1:before,
.cr-container input.cr-selector-img-2:checked ~ label.cr-label-img-2:before,
.cr-container input.cr-selector-img-3:checked ~ label.cr-label-img-3:before,
.cr-container input.cr-selector-img-4:checked ~ label.cr-label-img-4:before{
  background: #fff;
  box-shadow: 0px 0px 0px 4px rgba(104,171,194,0.6);
}
.cr-container input{
  display: none;
}
.cr-bgimg{
  width: 600px;
  height: 400px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.cr-bgimg{
  background-repeat: no-repeat;
  background-position: 0 0;
}
.cr-bgimg div{
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
  overflow: hidden;
  background-repeat: no-repeat;
}
.cr-bgimg div span{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: -150px;
  z-index: 2;
  text-indent: -9000px;
}
.cr-container input.cr-selector-img-1:checked ~ .cr-bgimg,
.cr-bgimg div span:nth-child(1){
  background-image: url(../images/1.jpg);
}
.cr-container input.cr-selector-img-2:checked ~ .cr-bgimg,
.cr-bgimg div span:nth-child(2){
  background-image: url(../images/2.jpg);
}
.cr-container input.cr-selector-img-3:checked ~ .cr-bgimg,
.cr-bgimg div span:nth-child(3){
  background-image: url(../images/3.jpg);
}
.cr-container input.cr-selector-img-4:checked ~ .cr-bgimg,
.cr-bgimg div span:nth-child(4){
  background-image: url(../images/4.jpg);
}
.cr-bgimg div:nth-child(1) span{
  background-position: 0px 0px;
}
.cr-bgimg div:nth-child(2) span{
  background-position: -150px 0px;
}
.cr-bgimg div:nth-child(3) span{
  background-position: -300px 0px;
}
.cr-bgimg div:nth-child(4) span{
  background-position: -450px 0px;
}

.cr-container input:checked ~ .cr-bgimg div span{
  -webkit-animation: slideOut 0.6s ease-in-out;
  -moz-animation: slideOut 0.6s ease-in-out;
  -o-animation: slideOut 0.6s ease-in-out;
  -ms-animation: slideOut 0.6s ease-in-out;
  animation: slideOut 0.6s ease-in-out;
}
@-webkit-keyframes slideOut{
  0%{ left: 0px; }
  100%{ left: 150px; }
}
@-moz-keyframes slideOut{
  0%{ left: 0px; }
  100%{ left: 150px; }
}
@-o-keyframes slideOut{
  0%{ left: 0px; }
  100%{ left: 150px; }
}
@-ms-keyframes slideOut{
  0%{ left: 0px; }
  100%{ left: 150px; }
}
@keyframes slideOut{
  0%{ left: 0px; }
  100%{ left: 150px; }
}
.cr-container input.cr-selector-img-1:checked ~ .cr-bgimg div span:nth-child(1),
.cr-container input.cr-selector-img-2:checked ~ .cr-bgimg div span:nth-child(2),
.cr-container input.cr-selector-img-3:checked ~ .cr-bgimg div span:nth-child(3),
.cr-container input.cr-selector-img-4:checked ~ .cr-bgimg div span:nth-child(4)
{
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  -ms-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
  left: 0px;
  z-index: 10;
}
.cr-titles h3{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  z-index: 10000;
  opacity: 0;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  -webkit-transition: opacity 0.8s ease-in-out;
  -moz-transition: opacity 0.8s ease-in-out;
  -o-transition: opacity 0.8s ease-in-out;
  -ms-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;
}
.cr-titles h3 span:nth-child(1){
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 70px;
  display: block;
  letter-spacing: 7px;
}
.cr-titles h3 span:nth-child(2){
  letter-spacing: 0px;
  display: block;
  background: rgba(104,171,194,0.9);
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}
.cr-container input.cr-selector-img-1:checked ~ .cr-titles h3:nth-child(1),
.cr-container input.cr-selector-img-2:checked ~ .cr-titles h3:nth-child(2),
.cr-container input.cr-selector-img-3:checked ~ .cr-titles h3:nth-child(3),
.cr-container input.cr-selector-img-4:checked ~ .cr-titles h3:nth-child(4){
  opacity: 1;
}
/* Media Query: Let's show the inputs on mobile sized browsers because they probably don't support the label trick: */
@media screen and (max-width: 768px) {
  .cr-container input{
    display: inline;
    width: 24%;
    margin-top: 350px;
    z-index: 1000;
    position: relative;
  }
  .cr-container label{
    display: none;
  }
}



